/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* ---------------------------------------------------------------------
Objects
------------------------------------------------------------------------ */

/**
 * Stack Object
 */
.stack,
.stack > * {
    display: block;
}

/**
 * Horizontal lists
 */
.h-list > li {
    float: left;
}

/**
 * Container
 */
.cnt {
    display: block;
    overflow: hidden;
}

/**
 * Box
 */
.box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.media {
    overflow: hidden;
}

.media-flipped > .media-media {
    float: left;
    margin-right: 13px;
}

.media-inverted > .media-media {
    float: right;
    margin-left: 20px;
}

.grid-group {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


