/* Illinois Science Council
 *
 * Authors: Jamie Birthler, Tony Webster, Andrew Kari
 */


/* -----------------------------------------
   Global
----------------------------------------- */

body {
	font: normal 13px/20px 'pluto_sans_cond_lightregular', sans-serif;
}

ol, li {
    list-style: none;
}

img { 
	/*width: 100%;*/
	display: block;
}

.cnt-page-hd {
    margin-bottom: 30px;
}

.invisible {
	visibility: hidden;
	height: 0;
	width: 0;
	color: transparent;
}

.alpha { padding-left: 0;}
.omega { padding-right: 0;}

/* -----------------------------------------
   Typography
----------------------------------------- */
@font-face {
    font-family: 'pluto_sans_cond_mediumregular';
    src: url('../fonts/hvd_fonts_-_plutosanscondmedium-webfont.eot');
    src: url('../fonts/hvd_fonts_-_plutosanscondmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hvd_fonts_-_plutosanscondmedium-webfont.woff') format('woff'),
         url('../fonts/hvd_fonts_-_plutosanscondmedium-webfont.ttf') format('truetype'),
         url('../fonts/hvd_fonts_-_plutosanscondmedium-webfont.svg#pluto_sans_cond_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pluto_sans_cond_lightregular';
    src: url('../fonts/hvd_fonts_-_plutosanscondlight-webfont.eot');
    src: url('../fonts/hvd_fonts_-_plutosanscondlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hvd_fonts_-_plutosanscondlight-webfont.woff') format('woff'),
         url('../fonts/hvd_fonts_-_plutosanscondlight-webfont.ttf') format('truetype'),
         url('../fonts/hvd_fonts_-_plutosanscondlight-webfont.svg#pluto_sans_cond_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pluto_sans_cond_boldregular';
    src: url('../fonts/hvd_fonts_-_plutosanscondbold-webfont.eot');
    src: url('../fonts/hvd_fonts_-_plutosanscondbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hvd_fonts_-_plutosanscondbold-webfont.woff') format('woff'),
         url('../fonts/hvd_fonts_-_plutosanscondbold-webfont.ttf') format('truetype'),
         url('../fonts/hvd_fonts_-_plutosanscondbold-webfont.svg#pluto_sans_cond_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -----------------------------------------
   UI Elements
----------------------------------------- */

h1 { font-family: 'pluto_sans_cond_boldregular';}

h2 { font-family: 'pluto_sans_cond_lightregular';}

h3 { font-family: 'pluto_sans_cond_mediumregular'; line-height:14px;margin-bottom:35px}

.font-ext { font-family: Courier, monospace;}

.footer-nav-link {
    font-size: 18px;
    color: #282828;
}

.font-news { color: #791997;}

.about-hd {
    font-size: 48px;
    font-family: 'pluto_sans_cond_mediumregular';
}

.about-lead {
    font-size: 20px;
    font-family: 'pluto_sans_cond_lightregular';
}

/* ---------------------------------------------------------------------
Objects
------------------------------------------------------------------------ */

/**
 * Stack Object
 */
.stack,
.stack > * {
    display: block;
}

/**
 * Horizontal lists
 */
.h-list { overflow: hidden;}

.h-list > li {
    float: left;
}

/**
 * Container
 */
.cnt {
    display: block;
    overflow: hidden;
}

/**
 * Box
 */
.box {
    position: relative;
    width: 100%;
    background-color: #f6f5f5;
}

.media {
    overflow: hidden;
}

.media-flipped > .media-media {
    float: left;
    margin-right: 13px;
}

.media-inverted > .media-media {
    float: right;
    margin-left: 20px;
}

.entry-bd {
	padding-top: 20px;
	padding-bottom: 20px;
}

.resource-list-landing .entry-bd { padding-bottom: 0;}

.resource-item.row { margin-bottom: 22px;}

/* -----------------------------------------
Nav
----------------------------------------- */

.logo {
    float: left;
	width:300px;
	height:85px;    
    display: block;
    margin: 5px 0 0 8px;
/*     width: auto; */
    background-image: url('../images/isc_logo_new.svg');
/*
    background-image: url('../images/isc_logo_new.png');
    background-image: none,url('../images/isc_logo_new.svg'), url('../images/isc_logo_new.png'); 
*/
    background-size: 100% 100%;
}
.ie8 .logo {
   background-image: url('../images/isc_logo_new.png');
}

.main-nav {
    margin: 0;
    padding: 0;
}

.main-nav-item {
    position: relative;
    margin-right: 14px;
}

.main-nav-item:last-child {
    margin-right: 0;
}

.main-nav-link {
    display: block;
    width: 117px;
    height: 142px;
    background-image: url('../images/sprite-nav.png');
    background-repeat: no-repeat;
}

.main-nav-link {
    font: normal 18px Courier, serif;
    color: #333;
    text-transform: lowercase;
    text-align: center;
    padding-top: 83px; 
}

.nav-events { background-position: 0 0;}

.nav-about { background-position: -131px 0;}

.nav-blog { background-position: -261px 0;}

.nav-resource { background-position: -392px 0;}

.main-nav-link:hover { background-position-y: -142px;}


.main-nav-link:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.nav-about:hover { 
	color: #d84302;
	background-position: -131px -142px;
}

.nav-events:hover { 
	color: #689d16;
	background-position: 0 -142px;
}

.nav-blog:hover { 
	color: #791997;
	background-position: -261px -142px;
}

.nav-resource:hover { 
	color: #1187bd;
	background-position: -392px -142px;
}

.page-template-about-php .nav-about,
.page-template-about-php .nav-about:hover,
.page-template-about-php .nav-about:focus,
.page-template-page-get-involved-php .nav-about,
.page-template-page-get-involved-php .nav-about:hover,
.page-template-page-get-involved-php .nav-about:focus,
.page-template-page-press-room-php .nav-about,
.page-template-page-press-room-php .nav-about:hover,
.page-template-page-press-room-php .nav-about:focus {
	color: #FFF;
	background-position: -131px -284px;
}

.events-archive .nav-events,
.events-single .nav-events,
.events-archive .nav-events:hover,
.events-single .nav-events:hover,
.events-archive .nav-events:focus,
.events-single .nav-events:focus {
	color: #FFF;
	background-position: 0 -284px;
}

.page-template-page-news-php .nav-blog,
.single-post .nav-blog,
.page-template-page-news-php .nav-blog:hover,
.single-post .nav-blog:hover,
.page-template-page-news-php .nav-blog:focus,
.single-post .nav-blog:focus {
	color: #FFF;
	background-position: -261px -284px;
}

.page-template-resources-php .nav-resource,
.page-template-resources-php .nav-resource:hover,
.page-template-resources-php .nav-resource:focus {
	color: #FFF;
	background-position: -392px -284px;
}

.nav-page {
	padding: 5px 0 0;
    margin: 15px 10px;
}

.events-list .nav-page,
.events-gridview .nav-page {
	border-top: 1px solid #a8de53;
	border-bottom: 1px solid #a8de53;	
}
.events-list .nav-page > ul,
.events-gridview .nav-page > ul { margin-bottom: 0;}

.page-template-page-news-php .nav-page > ul,
.page-template-resources-php .nav-page > ul { margin-bottom: 12px;}

.page-template-page-news-php .nav-page {
	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;	
}

.page-template-resources-php .nav-page {
	border-top: 1px solid #2BA6CB;
	border-bottom: 1px solid #2BA6CB;	
}

.page-template-about-php .nav-page,
.page-template-page-get-involved-php .nav-page,
.page-template-page-press-room-php .nav-page {
	border-top: 1px solid #fb7e21;
	border-bottom: 1px solid #fb7e21;
}

.page-template-about-php .nav-page-filter a:hover,
.page-template-page-get-involved-php .nav-page-filter a:hover,
.page-template-page-press-room-php .nav-page-filter a:hover { color: #fb7e21;}

.page-template-resources-php .nav-page-filter a.active,
.page-id-123 .nav-page-filter a { color: #1187BD;}
.page-id-123 .nav-page-filter li:first-child a { color: #878787;}
.page-id-123 .nav-page-filter li:first-child a:hover,
.page-template-resources-php .nav-page-filter a:hover { color: #222;}

.nav-page-filter {
	font: normal 16px/1 Courier, serif;
	margin-top: 9px;
}

.nav-page-filter > li {
	padding-left: 14px;
	border-left: 1px solid #878787;
	margin-right: 14px;
}

.nav-page-filter > li:first-child {
	border-left: 0;
	padding-left: 0;
}

.nav-page-filter a { color: #878787;}

.nav-page-filter a:hover { color: #c715ff;}

.nav-page-filter .active { color: #333;}

.nav-page-view a {
	width: 30px;
	height: 35px;
	background: transparent url('../images/sprite-toggle-view.png') no-repeat 0 0;
	text-indent: -9999px;
	display: inline-block;
	margin-left: 10px;
}

a.list { background-position: 0 0;}

a.cal { background-position: -30px 0;}

.list:hover,
.list.tribe-events-button-on { background-position: 0 -35px;}

.cal:hover,
.cal.tribe-events-button-on { background-position: -30px -35px;}

.footer-list {
    padding: 25px 0 37px 0;
}

.cnt-copy {
    padding: 0 0 10px 0;
}

.ico-mail {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 20px;
    width: 28px;
    background: url('../images/icn-mail.png') 0 0 no-repeat;
}

.tribe-events-month-nav select {
	width: 120px;
}

/* -----------------------------------------
   Footer
----------------------------------------- */
small { font-size: 95%;}

.foot-content,
.donate-text {
    background-color: #f6f5f5;
}

.donate {
	margin-bottom: 20px;
}

.donate-text {
	font: normal 24px/63px 'pluto_sans_cond_lightregular', sans-serif;
	text-align: center;
}

.donate-btn {
	background: #606163;
	position: relative;
}

.donate-btn:hover { 
	background: #d84302;
	color: #FFF;
}

.donate-txt {
	font: normal 24px/63px 'pluto_sans_cond_boldregular', sans-serif;
	color: #FFF;
	background: transparent;
	border: 0 none;
	padding-left: 78px;
	height: 63px;
	width: 100%;
	display: block;
	cursor: pointer;
}

.piggy {
	top: -4px;
	left: 13px;
	width: auto;
	position: absolute;
	-webkit-transition: top 0.1s linear, left 0.1s linear;
    -moz-transition: top 0.1s linear, left 0.1s linear;
    -ms-transition: top 0.1s linear, left 0.1s linear;
    -o-transition: top 0.1s linear, left 0.1s linear;
    transition: top 0.1s linear, left 0.1s linear;
}

.donate-btn:hover .piggy {
	top: -17px;
	left: 16px;
}

.cnt-banner {
    position: relative;
    width: 100%;
    z-index: 2;
    overflow: hidden;
	background: #2a2a2a;
	text-align: center;
}

.cnt-banner.banner-hd {
	height: 139px;
}

.banner-hd > img {
    height: 139px;
    max-width: 1400px;
}

.banner-ft > img {
    height: 59px;
    max-width: 1400px;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */

.ir {
    text-indent: -9999px;
    border: 0;
    background-color: transparent;
    color: transparent;
}

.home .wrap {
	background: transparent url('../images/banner-home.jpg') no-repeat 50% 0;
	padding: 25px 0 45px;
}

body > .wrap {
	background: transparent url('../images/banner.png') no-repeat 50% 0;
	margin-top: -22px;
}

/* -----------------------------------------
   Event Listing
----------------------------------------- */

.event-list-landing {
	padding-bottom: 15px;
	border-bottom: 3px solid #a8de53;
}

.columns:last-child {
	float: left !important;
}

.page-header .page-title {
	padding: 20px 14px 0;
	display: inline-block;
	background-color: #FFF;
	line-height: 43px; /* SAFARI MARGIN ISSUE PLZ FIX MA 3-2013 */
}

.page-title { font: normal 34px/22px 'pluto_sans_cond_lightregular', sans-serif;}

.past-events-list .page-title {
	line-height: 1.3;
	margin-top: 14px;
	padding-left: 49px;
	background: transparent url('../images/icon-past-events.png') no-repeat 0 0;
}

.cnt-page-hd {
	margin-top: 76px;
}

.entry-title {
	font: normal 28px 'pluto_sans_cond_boldregular', sans-serif;
}

.meta-list-loc {
    font-weight: normal;
}

.entry-title > a { color: #333;}

.event-title > a:hover { color: #689d16;}
.blog-title > a:hover { color: #791997;}
.resource-title > a:hover { color: #1187bd;}

.btn-detail {
    position: relative;
    left: 33px;
}

.featured-hd {
    margin-top: 10px;
    font-family: 'pluto_sans_cond_boldregular';
    font-size: 18px;
}

.featured-hd a {
        color: #333333;
}

.cnt-featured {
    margin-bottom: 30px;
}

.row-events { margin-top: 30px;}

.blog-entry,
.tribe-events-event { margin-bottom: 30px;}

.blog-entry > .entry-bd { min-height: 200px;}

.blog-entry .media-body { padding-bottom: 60px;}

.blog-entry .entry-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#tribe-events-content { padding: 0 !important;}

/* -----------------------------------------
   About, Get Involved, Press Room
----------------------------------------- */

.about-content {
	margin-bottom: 50px;
}

.board-directors {
	border-top: 3px solid #fb7e21;
}

.board-directors a { color: #fb7e21;}
.board-directors a:hover
.board-directors a:focus, { color: #d84302;}

.board-directors .page-title { padding: 18px 0 16px;}



.board-directors .featured-hd { 
	font-family: 'pluto_sans_cond_mediumregular', sans-serif;
	text-transform: uppercase;
}

.board-directors .position { 
	margin: 4px 0 10px;
	font-weight: normal;
	font-size: 16px;
}

.board-directors .descrip p{ font: normal 13px/18px 'pluto_sans_cond_lightregular', sans-serif;}

/* -----------------------------------------
   Carousel
----------------------------------------- */

.slides {
	overflow: hidden;
	margin-bottom: 20px;
}

.slides > li {
	position: relative;
	overflow: hidden;
}

.slide-content {
	background: rgba(17, 135, 189, 0.8);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.slide-content > .inner {
	height: 100%;
	padding: 0 25px;
}

.slide-title > p {
	padding-top: 25px;
	color: #FFF;
	font: normal 48px/49px 'pluto_sans_cond_lightregular', sans-serif;
}

.slide-title > p > strong { 
	font-weight: normal;
	font-family: 'pluto_sans_cond_boldregular', sans-serif;
}

.slide-cta {
	position: absolute;
	bottom: 25px;
	left: 35px;
}

/* -----------------------------------------
   Buttons & CTAs
----------------------------------------- */

.btn,
.gform_1 input.gform_submit_button_1,
.mod-email-list input.submit {
	border: 0;
	padding: 15px;
	display: inline-block;
	color: #FFF;
	font: normal 21px/22px 'pluto_sans_cond_lightregular', sans-serif;
	cursor: pointer;
}

.btn-alt { padding: 12px;}

.gform_1 input.gform_submit_button_1:hover,
.mod-email-list input.submit:hover,
.btn:hover,
.btn:active { color:#FFF !important;}

.btn-blue { background: #6bc2ea;}
.btn-orange {background: #fb7e21;}
.gform_1 input.gform_submit_button_1,
.btn-green,
.mod-email-list input.submit { background: #a8de53;}
.btn-purple { background-color: #c715ff;}

.btn-blue:hover { background-color: #1187bd;}
.btn-orange:hover { background-color: #d84302;}
.gform_1 input.gform_submit_button_1:hover,
.mod-email-list input.submit:hover,
.btn-green:hover { background-color: #689d16;}
.btn-purple:hover { background-color: #791997;}

.btn.offset { position: absolute;}

.event-cta > .offset { right: -5px;}

.blog-cta > .offset { 
	right: 5px;
	bottom: 0px;
}

.blog-list-landing .pagination > a,
.meta-category a { color: #791997;}

.blog-list-landing .pagination { margin: -15px 0 45px;}

input.btn {
	height: 45px;
	line-height: 45px;
	padding-top: 0px;
	padding-bottom: 0px;
}

input.btn-green { border: 1px solid #a8de53;}
input.btn-green:hover { border: 1px solid #689d16;}

/* -----------------------------------------
   Side Modules
----------------------------------------- */
.mod-alt {
	padding: 16px;
	background-color: #f6f5f5;
}

.date-display {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(40, 40, 40, 0.8);
	width: 80px;
	height: 80px;
}

.date-display > .month {
	font: normal 28px/1 Courier,serif;
	color: #9dcb3b;
	text-transform: uppercase;
	padding-top: 8px;
}

.date-display > .day {
	font: normal 40px/1 'pluto_sans_cond_lightregular', sans-serif;
	color: #FFF;
}

.mod-text-title {
	font: normal 28px/22px 'pluto_sans_cond_boldregular', sans-serif;
	margin-bottom: 16px;
}

.mod-text,
.mod-blog,
.mod-event { margin-bottom: 20px;}

.mod-blog,
.mod-event,
.side-events-list li {
	position: relative;
	height: auto;
	overflow: hidden;
}

.overlay {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mod-overlay:hover > .overlay {
	cursor: pointer;
	visibility: visible;
}

.mod-blog-overlay { background: rgba(199, 21, 255, 0.6);}
.mod-event-overlay { background: rgba(168, 222, 83, 0.6);}

.vertical-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.overlay-title {
	color: #FFF;
	font: normal 34px/28px 'pluto_sans_cond_boldregular', sans-serif;
	text-transform: uppercase;
	padding: 20px 15px;
	display: table-cell;
	vertical-align: middle;
}

.overlay > .arrow-east {
	background: transparent url('../images/icon-arrow-east.png') no-repeat 0 0;
	position: absolute;
	bottom: 15px;
	right: 12px;
	width: 19px;
	height: 16px;
}

.mod-title {
	text-transform: uppercase;
	color: #333;
	font: normal 18px/1 'pluto_sans_cond_boldregular', sans-serif;
}

.side-mod.row { margin-bottom: 36px;}

.side-mod-title {
	font: normal 20px/1.1 'pluto_sans_cond_boldregular', sans-serif;
	margin-bottom: .3em;
}

li.side-mod-event { margin-bottom: 22px;}

.side-mod .overlay-title { font: 26px/22px 'pluto_sans_cond_boldregular',sans-serif;}

.side-quote blockquote {
	color: #a7a7a7;
	font: normal 26px/1.25 'pluto_sans_cond_lightregular', sans-serif;
	margin: 0 0 5px;
	padding: 0;
	border: 0;
}

.side-quote a { 
	color: #a8de53;
	font: normal 16px/1 'pluto_sans_cond_boldregular', sans-serif;
}

.input-container {
	border: 1px solid #a7a7a7;
	height: 45px;
	padding-top: 2px;
	padding-bottom: 5px;
	background: #FFF;
}

.mod-email-list .input-container { 
	padding-top: 5px;
	height: auto;
	vertical-align: top;
}

.mod-email-list input.submit { vertical-align: top;}

.mod-email-list form { margin: 0;}

.mod-email-list .input-container input[type="text"] { height: 45px;}

.input-container input {
	font: normal 18px 'pluto_sans_cond_lightregular', sans-serif;
	border: 0;
	box-shadow: 0 0 0;
}

.mod-email-list input[type="text"],
.mod-email-list input[type="email"] {
	background: transparent;
	border: 0 none;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 0 transparent;
	border-radius: 0;
	color: #909090;
}

.home .mod-email-list { padding-top:16px;}


.tweet_list > li { margin-bottom: 16px;}
.tweet_avatar { 
	float: left;
	margin-right: 12px;
}
.tweet_avatar img {
	width: 48px;
	height: 48px;
}
.tweet_time {
	display: block;
	padding-top: 20px;
}
.tweet_join { display: none;}
.tweet_text {
	display: block;
	clear: both;
}
.tweet_text a { color: #FB7E21;}
.tweet_text a:hover { color: #D84302;}

/* -----------------------------------------
   Entry Detail
----------------------------------------- */

.entry-bd .media-hd { margin-bottom: 18px;}

.events-single .wrap { padding-top: 65px;}

.entry-social,
.entry-body { background: #f6f5f5;}

.entry-head { position: relative;}

.entry-body { padding: 25px;}

.entry-social {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-top: 32px;
	height: 140px;
	font: normal 16px/18px Courier, serif;
	display: inline-block;
}

.entry-single .entry-img {
	padding: 0;
	display: inline-block;
	border: 10px solid #FFF;
}

.entry-single .entry-img {
	width: 317px;
	height: 247px;
	background: transparent url('../images/placeholder.png') no-repeat 0 0;
}

.mod-social .icon {
	background: transparent url('../images/icon-circle-social.png') no-repeat 0 0;
	width: 45px;
	height: 45px;
	display: block;
}

.mod-social .twitter { background-position: 0 0;}
.mod-social .facebook { background-position: -45px 0;}

.social-text a {
	display: block;
	color: #282828;
	line-height: 45px;
	margin-top: 24px;
}

.social-text .icon {
	margin-right: 10px;
	float: left;
}

.icon-list { font: normal 16px/18px Courier, serif;}

.icon-list li:first-child { 
	margin: 0 10px 0 20px;
	font-weight: bold;
}

.icon-list li { margin-left: 12px;}

.icon-list .icon { margin-left: 18px;}

.post-img { margin-bottom: 20px;}

.post-social { margin-top: 22px;}

.entry-title,
.post-title {
	font: normal 48px/50px 'pluto_sans_cond_boldregular', sans-serif;
	margin-bottom: 20px;
}

.post-content .meta-category {
	margin-top: 14px;
}

.meta-date,
.entry-meta .cost { font-weight: bold;}

.entry-mod.row {
	font: normal 16px/18px Courier, serif;
	margin-top: 15px;
}

.entry-mod-body {
	background: #f6f5f5;
	padding: 15px;
	margin-bottom: 10px;
}

.entry-mod-title {
	font: normal 34px/1 'pluto_sans_cond_lightregular', sans-serif;
	margin-bottom: 20px;
}

.entry-sidebar {
	margin-top: 111px;
}

.entry-mod.location p { float: left;}
.entry-mod.location { line-height: 1.6;}




.entry-detail {
    margin-top: 15px;
}

.post-content { margin-bottom: 20px;}

.post-bd { padding: 20px;}

.cnt-news .box {
    overflow: hidden;
}

.news-hd {
    margin-bottom: 10px;
}

.cnt-news-section > .row {
    margin-top: 20px;
}

.cnt-news-section .row:last-child {
    margin-bottom: 20px;
}

.blog-detail-hd {
    font: normal 48px/1 'pluto_sans_cond_lightregular', sans-serif;
    margin-bottom: 20px;
    color: #282828;
}

.blog-detail-hd a {
    color: #282828;
}

.about-box .box {
    background: none;
}

.row-ext-about {
    margin-bottom: 24px;
    border-bottom: 3px solid #fb7e21;
    float: left;
}

.cnt-resources .row + .row {
    margin-top: 20px;
}

.cnt-resources .row:last-child {
    margin-bottom: 20px;
}

.recent-posts .page-title {
	margin-top: 20px;
	border-top: 3px solid #c715ff;
	padding: 18px 0 16px;
}

.recent-posts .four { margin-bottom: 40px;}

.resource-list-landing .section-bd { margin-bottom: 50px;}

/* -----------------------------------------
   About Pages
----------------------------------------- */

.page-template-page-get-involved-php .box { 
	padding: 22px 10px 20px;
	margin-bottom: 24px;
	overflow: hidden;
}

.page-template-page-get-involved-php .about-hd { margin-bottom: 12px;}

.page-template-page-get-involved-php .box ul {overflow: hidden;}

.involve-block {
	border-top: 3px solid #fb7e21;
	padding: 17px 0 6px;
}

.involve-block > p:first-child > strong { font: normal 34px/1.3 'pluto_sans_cond_lightregular',sans-serif;}

.involve-block > p > strong > a {
	color: #FFF;
	font: normal 21px/47px 'pluto_sans_cond_lightregular',sans-serif;
	padding: 0 25px;
	display: inline-block;
	background: #fb7e21;
}

.section-subhd {
    font: 20px/1.1 'pluto_sans_cond_boldregular',sans-serif;
    margin-bottom: 0.3em;
}

.page-template-page-press-room-php .box { 
	padding-top: 17px;
	margin-bottom: 22px;
	border-top: 3px solid #fb7e21;
}

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {min-height:480px;margin: 0 0 20px; padding: 0; position: relative;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* Control Nav */
.flex-control-nav {
	position: absolute;
	bottom: 14px;
	left: 14px;
}

.flex-control-nav > li {
	float: left;
	margin-right: 10px;
}

.flex-control-nav a {
	border-radius: 11px 11px 11px 11px;
	background-color: #FFF;
	width: 22px;
	height: 22px;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
}

.flex-control-nav .flex-active { background-color: #791997;}

/* EOF */